@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap");
@media screen and (max-width: 960px) {
  .hero-banner {
    background-position: left;
    min-height: 70vh !important;
  }
  .hero-banner h1 {
    font-size: 36px !important;
  }
  .hero-banner p {
    font-size: 18px !important;
    width: 90% !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .popular-guides-container {
    grid-template-columns: 1fr !important;
  }
  .books-section-wrapper {
    flex-direction: column;
  }
  .buttons-wrapper {
    display: flex;
    flex-direction: row;
  }
  .details-button,
  .details-button2 {
    font-size: 12px;
    padding: 10px !important;
    width: 120px !important;
    margin-bottom: 39px;
  }
  .popular-guides-wrapper h2 {
    font-size: 40px !important;
  }
  .video-section h3 {
    font-size: 33px !important;
    padding-left: 30px;
  }
  .books-section-wrapper {
    flex-direction: column-reverse;
  }
  .books-container {
    min-height: 40vh !important;
    flex-basis: 50% !important;
  }
  .books-container2 h2 {
    margin-top: 30px;
    font-size: 40px !important;
  }
  .guides-wrapper {
    grid-template-columns: 1fr !important;
  }
  .guides-page-wrapper h1 {
    font-size: 26px !important;
  }
  .selection-container {
    top: 20px !important;
    right: 35% !important;
  }
  .guides-detail-info2 h1 {
    font-size: 30px;
  }
  .guides-detail-info2 h5 {
    font-family: "Work Sans", sans-serif;
    width: 60% !important;
  }
  .guides-detail-info2 p {
    margin-top: 20px;
    font-size: 15px !important;
  }
  .about-page-wrapper {
    flex-direction: column !important;
  }
  .about-page-content p {
    font-size: 20px !important;
  }
  #hide {
    display: none;
  }
  footer p {
    font-size: 13px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

html,
body,
#root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 90vh;
  position: relative;
}

.hero-banner h1 {
  font-size: 55px;
  margin-left: 22px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.hero-banner p {
  font-size: 26px;
  font-family: "Work Sans", sans-serif;
  color: white;
  margin-left: 20px;
  width: 60%;
}

.popular-guides-wrapper {
  text-align: center;
  min-height: 80vh;
  background-color: #ededed;
}

.popular-guides-wrapper h2 {
  font-size: 55px;
  padding-top: 40px;
  font-family: "Open Sans", sans-serif;
}

.popular-guides-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin: 40px;
}

.popular-guides-container img {
  object-fit: cover;
  height: 360px;
}

.books-section-wrapper {
  display: flex;
  min-height: 75vh;
}

.books-container {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
}

.books-container2 {
  flex: 2;
  display: flex;
  color: #ffffff;
  background-color: #393939;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 60px;
}

.books-container2 p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  width: 88%;
}

.books-container2 h2 {
  font-size: 58px;
  font-family: "Open Sans", sans-serif;
  width: 88%;
}

.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 50vh;
  z-index: 2;
  margin: 0px;
}

.video-section h3 {
  font-size: 60px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 0;
  right: 0;
  z-index: -1;
  filter: brightness(80%);
}

.guides-page-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #eaf8ff;
}

.guides-page-wrapper h1 {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 40px;
}

.selection-container {
  position: absolute;
  top: 2%;
  right: 3%;
  z-index: 1;
}

.guides-wrapper {
  text-align: center;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px;
  gap: 40px;
}

.spinner-blue {
  display: flex;
  justify-content: center;
  align-content: center;
}

.guides-detail-wrapper {
  display: grid;
}

.guides-detail-info {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.guides-detail-info img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  margin: auto;
}

.guides-detail-info2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  min-height: 43vh;
}

.category-wrapper {
  background-color: #48c0ff;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  font-family: "Open Sans", sans-serif;
}

.guides-detail-info2 h1 {
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 40px;
}

.guides-detail-info2 p {
  font-family: "Work Sans", sans-serif;
  width: 90%;
  padding-left: 20px;
  font-size: 20px;
}

.guides-detail-info2 h5 {
  font-family: "Work Sans", sans-serif;
  width: 10%;
  padding-left: 20px;
  color: #ffffff;
  background: #131313;
}

.about-page-wrapper {
  display: flex;
}

.about-page-container {
  flex-basis: 50%;
}

.about-page-container img {
  height: 900px;
  object-fit: cover;
  width: 100%;
}

.about-page-content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-page-content h1 {
  margin-top: 89px;
  text-align: center;
  font-size: 69px;
  padding-left: 20px;
}

.about-page-content p {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

.admin-page-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #434343;
}

.admin-page-dashboard h1 {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 30px;
}

.admin-nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
  margin-left: 20px;
}

.admin-nav ul a {
  color: #ffffff;
}

.admin-nav ul a:hover {
  color: #48c0ff;
}

.admin-nav-wrapper {
  background-color: #434343;
}

.menu-posts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 40px;
  list-style-type: decimal;
}

#posts-design {
  background-color: #ededed;
  border-radius: 10px;
  padding: 15px;
  width: 80%;
}

input[type="text"] {
  width: 320px !important;
}

.sign-in-section {
  display: flex;
  flex-direction: column;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
}

.sign-in-container h1 {
  text-align: center;
  padding-top: 70px;
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
}

.sign-in-form-container {
  background-color: #ededed;
  margin-top: 80px;
  padding: 50px;
  border-radius: 5px;
}

.navbar {
  background-color: #ededed !important;
}

.brand-name {
  font-size: 25px;
}

.brand-name:hover {
  color: #48c0ff !important;
}

.nav-links a {
  color: #131313 !important;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}

.nav-links a:hover {
  color: #48c0ff !important;
}

.search-bar-wrapper {
  margin-right: 30px !important;
  position: relative;
}

.search-bar-wrapper:focus-within .auto-suggest {
  display: block;
}

.auto-suggest {
  display: none;
  position: absolute;
  background: white;
  z-index: 3;
  width: 320px;
  list-style: none;
}

.auto-suggest li {
  padding: 10px;
}

.auto-suggest li:not(:last-child) {
  border-bottom: 1px solid black;
}

.auto-suggest li:focus-within {
  outline: 2px solid blue;
  border: 0;
}

.search-btn {
  background-color: #48c0ff;
  border: none;
}

.search-btn:hover {
  background-color: #131313;
}

.search-btn:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none;
  background-color: #131313;
}

.hero-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.read-more-button {
  margin-left: 24px;
  padding: 8px;
  width: 140px;
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.read-more-button:hover {
  background-color: #48c0ff;
  color: #ffffff;
  cursor: pointer;
}

.read-more-black {
  margin-top: 20px;
  font-size: 15px;
  padding: 7px;
  width: 120px;
  background-color: #131313;
  border-color: #131313;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.read-more-black:hover {
  background-color: #48c0ff;
  color: #ffffff;
  cursor: pointer;
}

.explore-button {
  margin-left: 24px;
  padding: 8px;
  width: 140px;
  background-color: #48c0ff;
  border-color: #ffffff;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.explore-button:hover {
  background-color: #131313;
  color: #ffffff;
  cursor: pointer;
}

.details-button {
  padding: 8px;
  width: 180px;
  background-color: #131313;
  border-color: #ffffff;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.details-button:hover {
  background-color: #393939;
  color: #ffffff;
  cursor: pointer;
}

.details-button a {
  color: #ffffff;
  text-decoration: none;
}

.details-button2 {
  padding: 8px;
  width: 180px;
  background-color: #02782d;
  border-color: #ffffff;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.details-button2:hover {
  background-color: #131313;
  color: #ffffff;
  cursor: pointer;
}

.details-button2 a {
  color: #ffffff;
  text-decoration: none;
}

.view-all-btn {
  padding: 8px;
  width: 180px;
  background-color: #48c0ff;
  color: #ffffff;
  border: 2px solid #131313;
  margin-top: 30px;
  margin-bottom: 40px;
}

.view-all-btn:hover {
  background-color: #131313;
  color: #ffffff;
  cursor: pointer;
}

.login-button {
  background-color: #48c0ff;
  width: 130px;
}

.sign-out-button {
  background-color: #545454;
  color: #ffffff;
  width: 90px;
  height: 26px;
  margin: 10px;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
}

.sign-out-button:hover {
  background-color: #131313;
}

.buttons-wrapper {
  display: flex;
  gap: 20px;
}

.go-back-button {
  padding: 8px;
  width: 180px;
  background-color: #48c0ff;
  color: #ffffff;
  border: 2px solid #131313;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.go-back-button:hover {
  background-color: #131313;
  color: #ffffff;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131313;
  padding: 1px;
  margin-top: auto;
  width: 100%;
}

footer p {
  color: #ffffff;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#login-icon {
  color: #131313;
}

#login-icon:hover {
  color: #02782d;
}

#admin-icon {
  color: #02782d;
}

#admin-icon:hover {
  color: #131313;
}

.social-media-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #48c0ff;
}

.social-media-icons *:hover {
  color: #ffffff;
  cursor: pointer;
}

.guide-type {
  background-color: #48c0ff;
  color: #ffffff;
}

.guides-card {
  border: 1px solid #48c0ff;
}

.guides-card h4 {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}

.guides-card h5 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
  color: #131313;
}

.guides-card p {
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: auto;
}
/*# sourceMappingURL=style.css.map */