@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap");

// Fonts
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Work Sans", sans-serif;

// Colors
$white: #ffffff;
$grey: #ededed;
$light-black: #393939;
$black: #131313;
$orange: #ed9003;
$sky-blue: #eaf8ff;
$neon-blue: #48c0ff;
$blue: #0e66e9;
$red: #f06262;
$green: #02782d;
$menu: #434343;
