// Login icons on navbar

#login-icon {
  color: $black;

  &:hover {
    color: $green;
  }
}

#admin-icon {
  color: $green;

  &:hover {
    color: $black;
  }
}
// Social media icons on footer

.social-media-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  color: $neon-blue;
}
.social-media-icons *:hover {
  color: $white;
  cursor: pointer;
}
