//  Phone Screen

@media screen and (max-width: 960px) {
  // Front Page

  .hero-banner {
    background-position: left;
    min-height: 70vh !important;
  }

  .hero-banner h1 {
    font-size: 36px !important;
  }
  .hero-banner p {
    font-size: 18px !important;
    width: 90% !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .popular-guides-container {
    grid-template-columns: 1fr !important;
  }

  .books-section-wrapper {
    flex-direction: column;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: row;
  }

  .details-button,
  .details-button2 {
    font-size: 12px;
    padding: 10px !important;
    width: 120px !important;
    margin-bottom: 39px;
  }

  .popular-guides-wrapper h2 {
    font-size: 40px !important;
  }

  .video-section h3 {
    font-size: 33px !important;
    padding-left: 30px;
  }

  .books-section-wrapper {
    flex-direction: column-reverse;
  }

  .books-container {
    min-height: 40vh !important;
    flex-basis: 50% !important;
  }

  .books-container2 h2 {
    margin-top: 30px;
    font-size: 40px !important;
  }

  // Guides Page

  .guides-wrapper {
    grid-template-columns: 1fr !important;
  }

  .guides-page-wrapper h1 {
    font-size: 26px !important;
  }

  .selection-container {
    top: 20px !important;
    right: 35% !important;
  }

  // Details page

  .guides-detail-info2 h1 {
    font-size: 30px;
  }

  .guides-detail-info2 h5 {
    font-family: $font-secondary;
    width: 60% !important;
  }

  .guides-detail-info2 p {
    margin-top: 20px;
    font-size: 15px !important;
  }

  //  About page
  .about-page-wrapper {
    flex-direction: column !important;
  }

  .about-page-content p {
    font-size: 20px !important;
  }

  #hide {
    display: none;
  }

  //  Dashboard 

  .admin-page-dashboard {
    text-align: center;
  }

  .admin-nav {
    flex-direction: column;
    justify-content: center !important;
    align-content: center  !important;
    align-items: center !important;
    width: auto !important;
    padding-top: 20px;
  }

  .dashboard-section h1 {
    font-size: 22px !important;
    text-align: left !important;
    padding-left: 10px;
  }
  
  .dashboard-section p {
    font-size: 15px !important;
    text-align: left !important;
    padding-left: 10px;
  }

  .menu-posts-container {
    grid-template-columns: 1fr !important;
  }

  footer p {
    font-size: 13px !important;
  }
}
